<section class="vh-100 gradient-custom" *ngIf="!isLoggedIn()">
  <div class="form-group">
  <form (ngSubmit)="loginAnsej()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
				
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control form-control-lg" placeholder="Useremail" required name="useremail" #useremailField="ngModel" [(ngModel)]="email"/>
                <label class="form-label">Email</label>
                <div *ngIf="useremailField.errors && useremailField.errors?.['required']">Username is Mandatory</div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control form-control-lg" placeholder="Password" required name="password" #passwordField="ngModel" [(ngModel)]="password"/>
                <label class="form-label">Password</label>
                <div *ngIf="passwordField.errors && passwordField.errors?.['required']">Password is Mandatory</div>
              </div>

              <!--p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p-->

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
</section>
